.top-head{
    text-align: center;
    margin: auto;
    color:#E90064 ;
    font-size: 50px;
}
.weltopimg{
  width: 200px;
  height: 50px;
}
.welcomeimg{
  width: 300px;
  height: 150px;
}
.input{
  text-align: center;
  margin-top: auto;
}
.balaji{
    color: #3cb0fd;
    font-size: 60px;
    margin-top: auto;
    margin-bottom: auto;
}
.proimg{
    margin: 30px 50px 30px auto;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.div1{
    margin-top:100px;
    margin-bottom:150px;
}
.btn2 {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 23px;
    text-decoration: none;
    
  }
  
  .btn2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .div2{
    text-align: center;
    color:darkred;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 5% 5%;
    box-shadow: 2px 2px 12px rgba(37, 31, 36, 0.2);
    border: black;
    margin-left: 200px;
    margin-right: 200px;
    
  }
  
  .mid-1{
    background-color: rgb(253, 130, 198);
    padding: 5% 5%;
    box-shadow: 2px 2px 12px rgba(37, 31, 36, 0.2);
    border:#7F8487;
    margin-left: 200px;
    margin-right: 200px;
}
footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: #f6ffa7;
    align-items: center;
    padding-top: 30px;
    color: #FF7000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  @media(max-width:1000px){
    .top-head{
        font-size: 40px;
    }
    .balaji{
        font-size: 30px;
    }
    .div1{
        margin-top: auto;
        margin-bottom: auto;
    }
    .div2{
        margin-left: auto;
        margin-right: auto;
    }
    .mid-1{
        margin-left: auto;
        margin-right: auto;
    }
    #ans{
        font-size: 15px;
    }
    .flmp{
      font-size: 10px;
    }.loveimg{
      height: 60px;
      width: 40px;
      margin-left: auto;
    }
  }
  #ans{
    text-align: center;
    font-size: 30px;
    color: #E90064;
  }
  .flam{
    text-align: center;
    background-color: #fdfbf9;
  }
  .perdiv{
    background-color: rgb(255, 255, 255);
    padding: 5% 5%;
    box-shadow: 2px 2px 12px rgba(37, 31, 36, 0.2);
    border:#7F8487;
    margin-left: 200px;
    margin-right: 200px;
  }
  .loveimg{
    width: 150px;
    height: 200px;
    margin-left: 30px;
  }
  .flmp{
    color: #f80000;
    font-size: 20px;
  }
  